<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ログインページ</title>
  <script src="/js/axios.min.js"></script>
  <script src="/js/aws-sdk.min.js"></script>
  <script src="/js/aws-cognito-sdk.min.js"></script>
  <script src="/js/amazon-cognito-identity.min.js"></script>
  <script th:inline="javascript">
    function OnCognitoAuthenticateUser() {

      var username = document.getElementById("email").value;
      var password = document.getElementById("password").value;

      var authenticationData = {
        Username: username,
        Password: password,
      };

      var authenticationDetails = new AmazonCognitoIdentity.AuthenticationDetails(
          authenticationData
      );
      var poolData = {
        UserPoolId: [[${userPoolId}]],
        ClientId: [[${clientId}]],
      };
      var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);
      var userData = {
        Username: username,
        Pool: userPool,
      };

      var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData);
      cognitoUser.authenticateUser(authenticationDetails, {
        onSuccess: function (result) {
          var idToken = result.getIdToken().getJwtToken();          // IDトークン
          var accessToken = result.getAccessToken().getJwtToken();  // アクセストークン
          var refreshToken = result.getRefreshToken().getToken();   // 更新トークン

          console.log("idToken : " + idToken);
          console.log("accessToken : " + accessToken);
          console.log("refreshToken : " + refreshToken);

          //POTENTIAL: Region needs to be set if not already set previously elsewhere.
          AWS.config.region = [[${region}]];

          AWS.config.credentials = new AWS.CognitoIdentityCredentials({
            IdentityPoolId: [[${identityPoolId}]],
            Logins: {
              // Change the key below according to the specific region your user pool is in.
              [[${userPoolUrl}]]: result
              .getIdToken()
              .getJwtToken(),
            },
          });

          //refreshes credentials using AWS.CognitoIdentity.getCredentialsForIdentity()
          AWS.config.credentials.refresh(error => {
            if (error) {
              console.error(error);
            } else {
              // Instantiate aws sdk service objects now that the credentials have been updated.
              // example: var s3 = new AWS.S3();
              console.log('Successfully logged!');

              const url = axios({
                method: "get",
                url: "/auth",
                headers: {
                  'Content-Type': 'application/json',
                  Authorization: 'Bearer ' + idToken
                }
              })
              .then(response => {
                console.log("status: " +  response.status);
                console.log("response: " + JSON.stringify(response.data));
                location.href = "/";
              })
              .catch(err => {
                console.log("err: ", err);
              });
            }
          });
        },

        onFailure: function (err) {
          alert(err.message || JSON.stringify(err));
        },
      });
    }
  </script>
</head>
<body>
<h1>ログイン</h1>
<span style="display: inline-block; width: 150px;">Email</span>
<input type="text" id="email" placeholder="Email Address">
<br/>
<span style="display: inline-block; width: 150px;">Password</span>
<input type="password" id="password" placeholder="Password">
<br/><br/>
<input type="button" value="ログイン" onclick="OnCognitoAuthenticateUser();">
<p></p>
<div><a th:href="${azureLoginUri}">AzureADでログイン</a></div>
<div><a href="/signup">ユーザー登録</a></div>
<div><a href="/signup2">ユーザー登録(Java)</a></div>
</body>
</html>