<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録(Java)</title>
</head>
<body>
<h1>ユーザー登録</h1>
<form th:action="@{/update}" th:object="${userRequest}" method="post">
    <span style="display: inline-block; width: 150px;">Old Email</span>
    <span th:text="|${email}|"></span>
    <br/>
    <span style="display: inline-block; width: 150px;">New Email</span>
    <input type="text" id="email" name="email" placeholder="Email Address">
    <br/><br/>
    <input type="submit" value="更新">
</form>
<p></p>
<div><a href="/logout">ログアウト</a></div>
</body>
</html>